# =========================
# Visual Studio
# =========================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
DocumentLayout.json
VSWorkspaceState.json

# =========================
# Copilot Indexes
# =========================
CopilotIndices/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build folders
# =========================
bin/
obj/

# =========================
# NuGet
# =========================
*.nupkg
project.assets.json
*.nuget.props
*.nuget.targets
*.nuget.cache

# =========================
# SQLite local databases
# =========================
*.db
*.db-shm
*.db-wal